<!DOCTYPE html>
<html> 
<html lang="en">
  <head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="stylesheet.css"/>
    <title>Welcome to Registration</title>
  </head>
  <body>
    <header>
      <a href= "http://www.coderdojonyc.org/"><img class = "coderdojo_icon" src = "http://www.coderdojonyc.org/favicon.ico" /></a>
      <div>
        <ul>
           <a href ="http://www.coderdojonyc.org/about/"><li>ABOUT</li></a>
           <a href ="http://www.coderdojonyc.org/events/"><li>EVENTS</li></a>
           <a href = "welcome_registration_page.html"><li>REGISTRATION</li></a>
           <a href = "http://www.coderdojonyc.org/start/"><li>START</li></a>
           <a href = "http://www.coderdojonyc.org/mentors/"><li>MENTORS</li></a>
           <a href = "http://www.coderdojonyc.org/learning-stations/"><li>LEARN</li></a>
           <a href = "http://www.coderdojonyc.org/blog/" ><li>BLOG</li></a>
        </ul>	
      </div>
      <div class = "red_line"></div>
    </header> 
    <h1>CoderDojo</h1> 

  <footer>
    <p>Copyright © 2014 CoderDojo NYC | Made with ❤ in NYC  | </p>
    <a href = "http://www.coderdojonyc.org/contact"><div>Contact us</div></a>
  </footer>
  </body> 
</html>