<!DOCTYPE html>
<html> 
<html lang="en">
  <head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="stylesheet.css"/>
    <link rel="shortcut icon" href="http://www.coderdojonyc.org/favicon.ico" />
    <title>Welcome to Registration</title>
  </head>
  <body>
    <header>
      <a href= "http://www.coderdojonyc.org/"><img class = "coderdojo_icon" src = "http://www.coderdojonyc.org/favicon.ico" /></a>
      <div>
        <nav class = "nav_links">
        
           <a class = "nav_spaces" href ="http://www.coderdojonyc.org/about/">ABOUT</a>
           <a class = "nav_spaces" href ="http://www.coderdojonyc.org/events/">EVENTS</a>
           <a class = "nav_spaces" href = "welcome_registration_page.html">REGISTRATION</a>
           <a class = "nav_spaces" href = "http://www.coderdojonyc.org/start/">START</a>
           <a class = "nav_spaces" href = "http://www.coderdojonyc.org/mentors/">MENTORS</a>
           <a class = "nav_spaces" href = "http://www.coderdojonyc.org/learning-stations/">LEARN</a>
           <a class = "nav_spaces" href = "http://www.coderdojonyc.org/blog/" >BLOG</a>
        	
        </nav>
      
      </div>
      <div class = "red_line"></div>
    
    </header> 
    
    <div style = "overflow: hidden">
    <div><img class = "center_image" src= "wel_image.jpg"/></div>

    <div class = "current_page">Registration</div>
  
    <div class = "wel_header">Welcome to Registration</div> 

  <footer class = "cfooter">
    <p>Copyright © 2014 CoderDojo NYC | Made with ❤ in NYC  | </p>
    <a href = "http://www.coderdojonyc.org/contact"><div>Contact us</div></a>
  </footer>
  </body> 
</html>