<!DOCTYPE html>
<html> 
<html lang="en">
  <head> 
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="stylesheet.css"/>
    <link rel="shortcut icon" href="http://www.coderdojonyc.org/favicon.ico" />
    <script src="//cdn.iubenda.com/iubenda.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src = "coderdojo.js"></script> 

    <title>Welcome to Registration</title>
  </head>
  <body>
    

    <header>
      <a href= "http://www.coderdojonyc.org/"><img class = "coderdojo_icon" src = "http://www.coderdojonyc.org/favicon.ico" /></a>

      <div class = "nav_links" >
        <nav >
        
           <a class = "nav_spaces" href ="http://www.coderdojonyc.org/about/">ABOUT</a>
           <a class = "nav_spaces" href ="http://www.coderdojonyc.org/events/">EVENTS</a>
           <a class = "nav_spaces" href = "welcome_registration_page.html">REGISTRATION</a>
           <a class = "nav_spaces" href = "http://www.coderdojonyc.org/start/">START</a>
           <a class = "nav_spaces" href = "http://www.coderdojonyc.org/mentors/">MENTORS</a>
           <a class = "nav_spaces" href = "http://www.coderdojonyc.org/learning-stations/">LEARN</a>
           <a class = "nav_spaces" href = "http://www.coderdojonyc.org/blog/" >BLOG</a>
           <a id = "log"  >LOGIN</a> / <a>SIGNUP</a>
        	
        </nav>
      
      </div>
      <div class = "red_line"></div>
    
    </header> 
    
    <div style = "overflow: hidden">
    <div><img class = "center_image" src= "wel_image.jpg"/></div>

    <div class = "current_page">Registration</div>
  
    <div class = "wel_header">Welcome to Registration</div> 

    <div class = "sub_wel_header">Are you a...</div></br> 

    <div class = "parent_button" >Parent</div></br> 
    <div class = "mentor_button" >Mentor</div></br>
    <div class = "student_button" >Student</div></br>

    <div class = "already_login_header" >Already a member?</div>
    <div class = "login_button">Log in here</div>

     <!--This segment is for the log-in pop--> 
     
    <div class = "login_pop-up_modal">
      <div class = "modal_close">X</div>
      <div class = "coderdojo_word">C<img class = "coderdojo_icon_pop_up" src = "http://www.coderdojonyc.org/favicon.ico" />derdojo<span style = "color: #ED164E; font-weight: bolder" >NYC</span></div>
      
      <form class = "form_alignment" >

        <label>Email</label></br></br>       
        <input type = "text" ></br></br>
        <label>Password</label></br></br>
        <input type = "password"></br></br>  
        <input type = "checkbox">
        <label>Remember me?</label></br>
      
      </form>
      
      <div class ="login_button_pop_up">LOGIN</div>
      
    
    </div>

  <footer class = "cfooter">
    <div class = "align_footer">Copyright © 2014 CoderDojo NYC | Made with ❤ in NYC  | <a href = "http://www.coderdojonyc.org/contact">Contact us</a>

      <iframe class="iubenda-ibadge" scrolling="no" frameborder="0" allowtransparency="true" style="width:105px; height:22px;"></iframe>
        <html>
        <head>
        <title>iubenda badge</title>
        <meta name="viewport" content="width=device-width">
        <link type="text/css" rel="stylesheet" href="//cdn.iubenda.com/iubenda_i_badge.css" media="screen">
        <script type="text/javascript" src="//cdn.iubenda.com/iubenda_i_badge.js"></script>
        </head>
        <body onload="try{_iub.ifr.iubendaStartBadge({useProtocol:'//'});}catch(exc){console.log('IUBENDA: error while loading [iubendaStartBadge]. Please contact info@iubenda.com for support and troubleshooting.')}"><a href="http://www.iubenda.com/privacy-policy/185017" class="iubenda-white  " id="i_badge-link" title="Privacy Policy" target="_parent">Privacy Policy</a></body>
        </html>
      </iframe>
      
      <script type = "text/javascript">
      (function (w,d) {var loader = function () 
        {
          var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; 
        if(w.addEventListener){
          w.addEventListener("load", loader, false);}
        else if(w.attachEvent){
          w.attachEvent("onload", loader);}
        else{
          w.onload = loader;
        }
      })(window, document);
      </script>
    
    </div>


  </footer>
  <div id = "overlay">
  </body> 
</html>