@font-face {
  font-family: 'gothambook';
  src: url('Gotham-Book.ttf');
}

body{
	font-family: gothambook, sans-serif;
	color: #85878A;
	font-size: .9em;
	font-weight: 300em;
	margin: 0px;
}

.red_line{
	margin-top: -13px;
	height: 6px;
	background-color: #ED164E;
}

.coderdojo_icon{
	height:85px;
	width:85px; 
	left:30px;
	top: 5px; 
	position: absolute;
	border-image-width: 1;
}

a:link{
	text-decoration: none;
	color: #A3A5A7; 
}
a:visited {
    color: #A3A5A7;
}

a:hover {
    color: #ED164E;
}

a:active {
    color: #ED164E;
}


.nav_links{
	  width: 650px;
	  font-size: 1.9em;
	  font-weight:300;
	  margin-left: 150px;
	  margin-top: 32px;
	  height: 55.78125px;
}

.center_image{
	top: -448px;
  	position: relative;
  	height: 899px;
}

.current_page{
	  z-index: 9999;
  	  position: absolute;
  	  top: 3.75em;
  	  left: 2em;
  	  line-height: 1.4em;
      font-weight: 700;
      color: #00acb0;
      background-color: rgba(255,255,255,.7);
      text-align: center;
      padding: 20px;
      text-transform: uppercase;
      font-size: 1.5em;
}

.nav_spaces{
	margin-right: .5em;
}

.wel_header{
	color:#00acb0;
	font-size: 3em;
	text-align: center;
	margin-top: -375px;
	font-weight: 700;
}

.sub_wel_header{
	color:#00acb0;
	font-size: 1.5em;
	text-align: center;
	margin-top: 20px;
	font-weight: 700;
}

.already_login_header{
	color:#00acb0;
	font-size: 3em;
	text-align: center;
	margin-top: 50px;
	font-weight: 700;
	}

.cfooter{
	text-align: center;
	font-size: .8em;
}

.align_footer{
	margin-top:30px;
}

.parent_button{
      font-weight: 700;
      color: white;
      background-color: #ED164E;
      text-align: center;
      padding: 15px;
      text-transform: uppercase;
      font-size: 1em;
      width: 100px;
      margin-left: 415px;
      margin-top: 20px;
      
}

.mentor_button{
      font-weight: 700;
      color: white;
      background-color: #ED164E;
      text-align: center;
      padding: 15px;
      text-transform: uppercase;
      font-size: 1em;
      width: 100px;
      margin-left: 614px;
      margin-top: -60px;
}

.student_button{
      font-weight: 700;
      color: white;
      background-color: #ED164E;
      text-align: center;
      padding: 15px;
      text-transform: uppercase;
      font-size: 1em;
      width: 100px;
      margin-left: 809.5px;
      margin-top: -59.5px;
}

.login_button{
      font-weight: 700;
      color: white;
      background-color: #ED164E;
      text-align: center;
      padding: 15px;
      text-transform: uppercase;
      font-size: 1em;
      width: 100px;
      margin-left: 613px;
      margin-top: 35px;
}

.login_pop-up_modal{

      border-style: solid;
}