footer class = "cfooter"
  div class = "align_footer"
    Copyright © 2014 CoderDojo NYC | Made with ❤ in NYC  |
    =link_to " Contact Us |", "http://www.coderdojonyc.org/contact" 
    =link_to " Donate", "http://www.coderdojonyc.org/donate"